/*@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';*/

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
button.accordion {
  background-color: white;
  padding: 18px;
  width: 100%;
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-color: #b2a796;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

button.accordion.active,
button.accordion:hover {
  background-color: #327fb2;
}

@media screen and (min-width: 1200px) {
  button.accordion figure {
    min-width: 50%;
    min-height: 50%;
    margin: 0;
    padding: 0;
  }
  button.accordion figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  button.accordion .shortDescr {
    text-align: center;
    width: 50%;
    display: block;
    min-width: 50%;
    min-height: 50%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  button.accordion {
    flex-direction: column;
  }
  button.accordion figure {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
  }
  button.accordion figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*    max-width: 400px;*/
  }
  button.accordion .shortDescr {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
}

button.accordion h2 {
  text-align: center;
  width: 100%;
}

button.accordion hr {
  height: 1px;
  margin: -0.5em 0 0.5em;
  padding: 0;
  color: #000;
  background-color: #000;
  border: 0;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
}
