/*@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';*/

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
#team {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #999;
  background-color: #fff;
}

#team h1,
#team h2,
#team h5,
#team h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(254, 82, 76, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

button.accordion {
  background-color: #eee;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  display: flex;
  /*  flex-direction: row;*/
  align-items: center;
}

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
}

button.accordion.active:after {
  content: "\2212";
}

button.accordion figure {
  min-width: 50%;
  min-height: 50%;
}

button.accordion figure img {
  /*  float: left;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button.accordion .shortDescr {
  text-align: center;
  width: 50%;
  display: block;
  min-width: 50%;
  min-height: 50%;
}

button.accordion h2 {
  text-align: center;
  width: 100%;
}

button.accordion hr {
  height: 1px;
  margin: -0.5em 0 0.5em;
  padding: 0;
  color: #000;
  background-color: #000;
  border: 0;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 15px;
}
