include ./helpers/ImgPaths

each element in FocusElements
  .vignette
    img(src=pathToImg('focus', element.ImgFilename))
    .title
      h2 #{element.Title}
    .separator
    .description
      p #{element.Description}