include ./helpers/ImgPaths

each member in Members
  .vignette
    img(src=pathToTeamImg(member.ImgFilename))
    .title
      h2 #{member.FirstName} #{member.LastName}
    .separator
    .description
      p #{member.ShortDescription}