body {
  background-color: white;
  text-align: left;
}

#content {
  margin: 25px;
}

#{$all-text-inputs} {
  width: 100%;
  border: 1px solid $secondary-color;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    border: 1px solid $principal-color;
  }
}
