html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 8px 0 8px;
  background-color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#content {
  width: 100%;
  flex: 1 0 auto;
}

#{$all-text-inputs} {
  width: 100%;
  border: 1px solid $secondary-color;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    border: 1px solid $principal-color;
  }
}
