// TODO: stick to class names (with '.')!
// remove the default view of a checkbox
#burger-check {
  display: none;
  position: absolute;
}

#navigation a {
  color: #000;
  text-decoration: none;
  width: 100%;
  display: block;
}

@media screen and (min-width: $large-screen) {
  #navigation {
    height: auto;
    width: 100%;

    a {
      text-align: right;
      font-size: 1em;

      &:hover {
        color: $principal-color;
      }
    }

    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      flex-direction: row;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;

      li {
        margin-left: 10px;
      }
    }
  }

  #bottomLine {
    border-top: 1px solid #000000;
    float: right;
    position: relative;
    width: 0;
    height: 2px;
    display: block;
    box-sizing: border-box;
  }
}

@media screen and (max-width: $large-screen) {
  #burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 1;
  }
  #burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  #burger:before {
    content: '';
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
  }
  #burger:after {
    content: '';
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
  }

  // first line
  #burger-check:checked ~ #burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
  }

  //second line
  #burger-check:checked ~ #burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
  }

  // third line
  #burger-check:checked ~ #burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
  }
  #navigation {
    overflow: hidden;
    height: 0px;
    transition: max-height 0.5s ease-in-out;
    font-style: italic;
    position: absolute;
    left: 0px;
    top: 26px;
    z-index: 1;
  }
  #navigation a {
    text-align: left;
    font-size: 5vw;
  }
  #burger-check:checked ~ #navigation {
    height: auto;
    transition: max-height 0.5s ease-in-out;
  }
  #navigation ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #navigation ul li {
    background-color: $secondary-color;
    padding: 25px 5px 25px 5px;
  }
  #navigation ul li:hover {
    background-color: $principal-color;
  }
}
