.close {
  $font-size: 2rem;
  font-weight: bold;
  font-size: $font-size;
  margin: -$font-size / 4 $font-size / 8;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; // without this z-index, it is not possible to click on the button
  cursor: pointer;
}
