#highScores {
  $height: 20px;
  $padding: 5px;
  width: 200px;
  height: $height;
  background-color: $secondary-color;
  color: white;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  position: absolute;
  bottom: - $height - $banner-border-width - $padding;
  left: - $banner-border-width;
  z-index: 10;
  text-align: left;
  font-variant: small-caps;
  padding: 0 $padding $padding $padding;
  user-select: none;
  p {
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  table,
  tr,
  td {
    border: 0px;
    font-variant: normal;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 0px;
    max-height: 200px;
  }
  &:before {
    content: '\25B6';
    margin-right: 5px;
  }
  &.active {
    overflow-y: auto;
    &:before {
    content: '\25BC';
    }
  }
}
