#scoreForm {
  $height: 75%;
  $width: 25%;
  border-radius: 10px;
  top: 50% - $height / 2;
  left: 50% - $width / 2;
  width: $width;
  height: $height;
  @media screen and (max-width: $large-screen) {
    $height: 100%;
    $width: 100%;
    border-radius: 0;
    top: 50% - $height / 2;
    left: 50% - $width / 2;
    width: $width;
    height: $height;
  }
  position: absolute;
  background: white;
  opacity: 0.9;
  display: none;
  .feedback {
    text-align: center;
    width: 100%;
    color: black;
  }
  form {
    position: relative;
    width: 100%;
    height: 90%;
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 2 auto;
      width: 100%;
      height: 100%;
      margin: auto;
      h3 {
        text-align: center;
        width: 50%;
        margin: auto;
      }
      input {
        margin: auto;
        border: 1px solid black;
        background: white;
        width: 50%;
      }
      button {
        margin: auto;
        border: 1px solid $principal-color;
        background: white;
        color: black;
        width: 50%;
        &:hover {
          background: $principal-color;
          color: white;
        }
      }
    }
  }
}
