// TODO: for mobiles, just span the whole banner, i.e. set height = width = 100%
#scoreForm {
  $height: 75%;
  $width: 25%;
  position: absolute;
  top: 50% - $height / 2;
  left: 50% - $width / 2;
  width: $width;
  height: $height;
  border: 0px solid black;
  border-radius: 10px;
  background: white;
  opacity: 0.9;
  display: none;
  .close {
    $font-size: 2rem;
    font-weight: bold;
    font-size: $font-size;
    margin: - $font-size / 4 $font-size / 8;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; // without this z-index, it is not possible to click on the button
    cursor: pointer;
  }
  .feedback {
    text-align: center;
    width: 100%;
    color: black;
  }
  form {
    position: relative;
    width: 100%;
    height: 90%;
    fieldset {
      display: flex;
      flex-direction: column;
      flex: 1 2 auto;
      width: 100%;
      height: 100%;
      margin: auto;
      h3 {
        text-align: center;
        width: 50%;
        margin: auto;
      }
      input {
        margin: auto;
        border: 1px solid black;
        background: white;
        width: 50%;
      }
      button {
        margin: auto;
        border: 1px solid $principal-color;
        background: white;
        color: black;
        width: 50%;
        &:hover {
          background: $principal-color;
          color: white;
        }
      }
    }
  }
}
