$margin: 25px;

.vignette {
  $separator-width: 1px;
  $tabs-height: 50px;
  width: 100%;
  margin: $margin 0;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto $separator-width auto $tabs-height;
  grid-template-areas:
    'i title      '
    'i separator  '
    'i description'
    'i tabs       ';
  @media screen and (max-width: $large-screen) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      'title      '
      'separator  '
      'i          '
      'description'
      'tabs       ';
  }
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1rem;
  font-size: normal;
  img {
    grid-area: i;
    height: 100%;
  }
  .title {
    grid-area: title;
    text-align: center;
    display: contents;
    h2 {
      margin: auto 0px;
    }
  }
  .separator {
    grid-area: separator;
    width: 50%;
    border-bottom: $separator-width solid black;
    margin: 0px auto;
    @media screen and (max-width: $large-screen) {
      border: 0;
    }
  }
  .description {
    grid-area: description;
    text-align: center;
    display: contents;
    p {
      margin: auto 25px;
    }
  }
  .tabs {
    grid-area: tabs;
    display: flex;
    justify-content: center;
    img {
      height: $tabs-height;
      margin: 0px 10px;
    }
  }
}

.career {
  display: none;
  width: 50%;
  border: 1px solid red;
  margin-bottom: $margin;
  .entry {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
      'date        title      '
      'date        description';
    .date {
      grid-area: date;
      font-style: italic;
    }
    .title {
      grid-area: title;
      font-weight: bold;
    }
    .description {
      grid-area: description;
    }
  }
}
