section#welcome {
  width: 50%;

  @media screen and (max-width: $large-screen) {
    width: 100%;
  }

  $custom-grid: (
    columns: 12,
    gutter: 0
  );
  $text-margin: 1em;
  overflow: hidden;
  font-size: 1em;
  @include grid-container;
  .image-wrapper {
    @include grid-column(2, $custom-grid);
    float: left;
    @include grid-media($mobile-layout) {
      @include grid-column(12, $custom-grid);
    }
    margin-right: $text-margin;
    img {
      display: block;
      z-index: -1;
      @media screen and (max-width: $large-screen) {
        display: none;
      }
    }
  }
  .side-image-content {
    @include grid-column(9, $custom-grid);
    @include grid-media($mobile-layout) {
      @include grid-column(12, $custom-grid);
    }
    margin-left: $text-margin;
    margin-right: $text-margin;
    margin-top: $text-margin;
    text-align: center;
    hr {
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      color: #000;
      background-color: #000;
      border: 0;
    }
  }
}
